{
  "presets": [
    "babel-preset-env",
    "babel-preset-react",
    "babel-preset-stage-2"
  ],
  "plugins": [
    [
      "babel-plugin-universal-import",
      {
        "disableWarnings": true
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
