html {
  font: 400 16px/1 'Tahoma', sans-serif;
  color: #222;
}
body {
  margin: 0;
}
a {
  color: inherit;
}
a:hover,
a:focus {
  text-decoration: none;
}

.app {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  min-height: 100vh;
}
